*{
    background: wheat;
    margin-top: 20px;
}
html{
    scroll-behavior: smooth;
}
P{
    text-indent: 8px;
    text-align: justify;
    font-size: 50px;
    margin-right: 30px;
    margin-left: 30px;
}
h2{
    font-size: 60px;
    text-align: center;
}
.fot{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.fot div{
  margin-bottom: 30px;
  flex: 10px;
}
.fot a{
  color: rosybrown;
  text-decoration: none;
  padding: 15px;
  display: block;
  text-align: center;
  font-size: 50px;
}
.fot a:hover {
background-color: #27272B 
} 
